/* DEFAULT.CSS */

body {
  /*background-color:#d80502;*/
}

h1 {
	text-align:center;
}

div.btn-group {
	text-align:center;
}

div.person-div {
  margin:0 auto;
  max-width:302px;
  border:#ddd 1px solid;
  border-radius:4px;
  box-shadow:0 0 5px #ddd;
}

div.center {
  text-align:center;
}

div.name {
  font-size:14px;
  font-weight:bold;
}

img.loading {
  margin:0 auto;
}