/* DEFAULT.CSS */

body {
  /*background-color:#d80502;*/
}

h1 {
	text-align:center;
}

div.btn-group {
	text-align:center;
}

div.person-div {
  margin:0 auto;
  max-width:302px;
  border:#ddd 1px solid;
  border-radius:4px;
  box-shadow:0 0 5px #ddd;
}

div.center {
  text-align:center;
}

div.name {
  font-size:14px;
  font-weight:bold;
}

img.loading {
  margin:0 auto;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}