<!DOCTYPE HTML>

<html>
<head>
	<title>
		Robin Food
	</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div id="app">
		<div id="main">
			
		</div>
		<div id="addl-info" class="sidebar">

		</div>
		
	</div>
	<script> var app = {} </script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/underscore-min.js"></script>
	<script src="../js/backbone-min.js"></script>
	<script src="../js/backbone-localstorage.min.js"></script>

	<script src="../js/App.View.js"></script>
</body>
</html>