<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Robin Food | robinfood.us
	</title>

    <!-- Bootstrap -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./static/css/default.css">
</head>
<body>
  <h1>Robin Food</h1>
	<div class="container" id="app">
		<div class="row">
			<div class="center" id="main">

				Username: <input type="text" id="username-input"><br>
				Password: <input type="password" id="password-input"><br>
				Profile Picture URL: <input type="text" id="picture-input"><br>
				<button id="create-login">Login/Create Account</button>

			</div>
		</div>

		<div id="addl-info" class="sidebar">

		</div>

		<div class="btn-group" id="need-have-screen" style="display:none;">
					<button class="btn btn-default" id="have-swipes">I have swipes!</button>
					<button class="btn btn-default" id="need-swipes">I need swipes!</button>
				</div>
		
		<div>
			<div class="center" id="wait" style="display:none;">
				<img src="./static/media/loading.gif" width="32" height="32" class="loading" />
				<button id="cancel-search" class="btn btn-default disabled">Cancel Search</button>
			</div>
		</div>
		
	<script> var app = {} </script>
	<script src="./static/js/jquery.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
	<script src="./static/js/underscore-min.js"></script>
	<script src="./static/js/backbone-min.js"></script>
	<script src="./static/js/backbone-localstorage.min.js"></script>
	<script src="./static/js/Person.Model.js"></script>
	<script src="./static/js/App.View.js"></script>

</body>
</html>
